<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>曹操</string>
		<key>icon</key>
		<string>movie_jf</string>
		<key>title</key>
		<string>治世之能臣,乱世之奸雄</string>
		<key>options</key>
		<array>
			<string>刘</string>
			<string>备</string>
			<string>曹</string>
			<string>操</string>
			<string>孙</string>
			<string>权</string>
			<string>吕</string>
			<string>布</string>
			<string>策</string>
			<string>瓒</string>
			<string>坚</string>
			<string>张</string>
			<string>角</string>
			<string>董</string>
			<string>卓</string>
			<string>袁</string>
			<string>术</string>
			<string>绍</string>
			<string>公</string>
			<string>孙</string>
			<string>渊</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>许褚</string>
		<key>icon</key>
		<string>0012_许禇_1.jpg</string>
		<key>title</key>
		<string>有“虎痴”的绰号</string>
		<key>options</key>
		<array>
			<string>许</string>
			<string>褚</string>
			<string>典</string>
			<string>韦</string>
			<string>张</string>
			<string>辽</string>
			<string>夏</string>
			<string>侯</string>
			<string>惇</string>
			<string>渊</string>
			<string>徐</string>
			<string>晃</string>
			<string>于</string>
			<string>禁</string>
			<string>彰</string>
			<string>曹</string>
			<string>郭</string>
			<string>淮</string>
			<string>满</string>
			<string>宠</string>
			<string>真</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>司马懿</string>
		<key>icon</key>
		<string>0049_司马懿_1.jpg</string>
		<key>title</key>
		<string>世之鬼才也</string>
		<key>options</key>
		<array>
			<string>司</string>
			<string>马</string>
			<string>懿</string>
			<string>荀</string>
			<string>彧</string>
			<string>攸</string>
			<string>贾</string>
			<string>诩</string>
			<string>杨</string>
			<string>修</string>
			<string>陈</string>
			<string>群</string>
			<string>钟</string>
			<string>繇</string>
			<string>曹</string>
			<string>植</string>
			<string>丕</string>
			<string>郭</string>
			<string>嘉</string>
			<string>休</string>
			<string>操</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>夏侯惇</string>
		<key>icon</key>
		<string>1007_夏侯惇_1.jpg</string>
		<key>title</key>
		<string>字元让,谥为忠侯</string>
		<key>options</key>
		<array>
			<string>夏</string>
			<string>侯</string>
			<string>惇</string>
			<string>渊</string>
			<string>张</string>
			<string>辽</string>
			<string>许</string>
			<string>褚</string>
			<string>曹</string>
			<string>仁</string>
			<string>典</string>
			<string>韦</string>
			<string>徐</string>
			<string>晃</string>
			<string>郃</string>
			<string>于</string>
			<string>禁</string>
			<string>庞</string>
			<string>德</string>
			<string>钟</string>
			<string>会</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>郭嘉</string>
		<key>icon</key>
		<string>0043_郭嘉_1.jpg</string>
		<key>title</key>
		<string>官至军师祭酒,惜天妒英才,英年早逝</string>
		<key>options</key>
		<array>
			<string>郭</string>
			<string>嘉</string>
			<string>王</string>
			<string>朗</string>
			<string>济</string>
			<string>荀</string>
			<string>彧</string>
			<string>攸</string>
			<string>贾</string>
			<string>诩</string>
			<string>杨</string>
			<string>修</string>
			<string>陈</string>
			<string>群</string>
			<string>钟</string>
			<string>繇</string>
			<string>程</string>
			<string>昱</string>
			<string>华</string>
			<string>歆</string>
			<string>蒋</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>张辽</string>
		<key>icon</key>
		<string>0014_张辽_1.jpg</string>
		<key>title</key>
		<string>以800人突袭孙权十万大军</string>
		<key>options</key>
		<array>
			<string>夏</string>
			<string>侯</string>
			<string>惇</string>
			<string>渊</string>
			<string>张</string>
			<string>辽</string>
			<string>许</string>
			<string>褚</string>
			<string>曹</string>
			<string>仁</string>
			<string>典</string>
			<string>韦</string>
			<string>徐</string>
			<string>晃</string>
			<string>郃</string>
			<string>于</string>
			<string>禁</string>
			<string>庞</string>
			<string>德</string>
			<string>钟</string>
			<string>会</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>甄姬</string>
		<key>icon</key>
		<string>0732_甄姬_1.jpg</string>
		<key>title</key>
		<string>魏文帝曹丕的正室</string>
		<key>options</key>
		<array>
			<string>甄</string>
			<string>姬</string>
			<string>蔡</string>
			<string>文</string>
			<string>孙</string>
			<string>尚</string>
			<string>香</string>
			<string>大</string>
			<string>乔</string>
			<string>小</string>
			<string>貂</string>
			<string>蝉</string>
			<string>黄</string>
			<string>月</string>
			<string>英</string>
			<string>王</string>
			<string>异</string>
			<string>辛</string>
			<string>宪</string>
			<string>刘</string>
			<string>氏</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>曹仁</string>
		<key>icon</key>
		<string>0024_曹仁_1.jpg</string>
		<key>title</key>
		<string>官至大司马,谥曰忠侯</string>
		<key>options</key>
		<array>
			<string>夏</string>
			<string>侯</string>
			<string>惇</string>
			<string>渊</string>
			<string>张</string>
			<string>辽</string>
			<string>许</string>
			<string>褚</string>
			<string>曹</string>
			<string>仁</string>
			<string>典</string>
			<string>韦</string>
			<string>徐</string>
			<string>晃</string>
			<string>郃</string>
			<string>于</string>
			<string>禁</string>
			<string>庞</string>
			<string>德</string>
			<string>钟</string>
			<string>会</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>夏侯渊</string>
		<key>icon</key>
		<string>0006_夏侯渊_1.jpg</string>
		<key>title</key>
		<string>被刘备部将黄忠所杀</string>
		<key>options</key>
		<array>
			<string>夏</string>
			<string>侯</string>
			<string>惇</string>
			<string>渊</string>
			<string>张</string>
			<string>辽</string>
			<string>许</string>
			<string>褚</string>
			<string>曹</string>
			<string>仁</string>
			<string>典</string>
			<string>韦</string>
			<string>徐</string>
			<string>晃</string>
			<string>郃</string>
			<string>于</string>
			<string>禁</string>
			<string>庞</string>
			<string>德</string>
			<string>钟</string>
			<string>会</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>典韦</string>
		<key>icon</key>
		<string>0013_典韦_1.jpg</string>
		<key>title</key>
		<string>曾为乡人刘氏报仇,杀人出市</string>
		<key>options</key>
		<array>
			<string>夏</string>
			<string>侯</string>
			<string>惇</string>
			<string>渊</string>
			<string>张</string>
			<string>辽</string>
			<string>许</string>
			<string>褚</string>
			<string>曹</string>
			<string>仁</string>
			<string>典</string>
			<string>韦</string>
			<string>徐</string>
			<string>晃</string>
			<string>郃</string>
			<string>于</string>
			<string>禁</string>
			<string>庞</string>
			<string>德</string>
			<string>钟</string>
			<string>会</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>荀彧</string>
		<key>icon</key>
		<string>1044_荀彧_1.jpg</string>
		<key>title</key>
		<string>死后被追谥为敬侯</string>
		<key>options</key>
		<array>
			<string>郭</string>
			<string>嘉</string>
			<string>王</string>
			<string>朗</string>
			<string>济</string>
			<string>荀</string>
			<string>彧</string>
			<string>攸</string>
			<string>贾</string>
			<string>诩</string>
			<string>杨</string>
			<string>修</string>
			<string>陈</string>
			<string>群</string>
			<string>钟</string>
			<string>繇</string>
			<string>程</string>
			<string>昱</string>
			<string>华</string>
			<string>歆</string>
			<string>蒋</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>曹丕</string>
		<key>icon</key>
		<string>0061_曹丕_1.jpg</string>
		<key>title</key>
		<string>去世后庙号高祖,谥为文皇帝</string>
		<key>options</key>
		<array>
			<string>刘</string>
			<string>备</string>
			<string>曹</string>
			<string>操</string>
			<string>孙</string>
			<string>权</string>
			<string>吕</string>
			<string>布</string>
			<string>策</string>
			<string>瓒</string>
			<string>坚</string>
			<string>张</string>
			<string>角</string>
			<string>董</string>
			<string>卓</string>
			<string>袁</string>
			<string>术</string>
			<string>绍</string>
			<string>公</string>
			<string>孙</string>
			<string>丕</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>徐晃</string>
		<key>icon</key>
		<string>1037_徐晃_1.jpg</string>
		<key>title</key>
		<string>本为杨奉帐下骑都尉</string>
		<key>options</key>
		<array>
			<string>夏</string>
			<string>侯</string>
			<string>惇</string>
			<string>渊</string>
			<string>张</string>
			<string>辽</string>
			<string>许</string>
			<string>褚</string>
			<string>曹</string>
			<string>仁</string>
			<string>典</string>
			<string>韦</string>
			<string>徐</string>
			<string>晃</string>
			<string>郃</string>
			<string>于</string>
			<string>禁</string>
			<string>庞</string>
			<string>德</string>
			<string>钟</string>
			<string>会</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>邓艾</string>
		<key>icon</key>
		<string>1126_邓艾_1.jpg</string>
		<key>title</key>
		<string>字士载,义阳棘阳（今河南新野）人</string>
		<key>options</key>
		<array>
			<string>夏</string>
			<string>侯</string>
			<string>惇</string>
			<string>渊</string>
			<string>张</string>
			<string>辽</string>
			<string>许</string>
			<string>褚</string>
			<string>曹</string>
			<string>仁</string>
			<string>典</string>
			<string>韦</string>
			<string>徐</string>
			<string>晃</string>
			<string>郃</string>
			<string>于</string>
			<string>禁</string>
			<string>邓</string>
			<string>艾</string>
			<string>钟</string>
			<string>会</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>张郃</string>
		<key>icon</key>
		<string>0025_张郃_1.jpg</string>
		<key>title</key>
		<string>被诸葛亮设伏射死</string>
		<key>options</key>
		<array>
			<string>夏</string>
			<string>侯</string>
			<string>惇</string>
			<string>渊</string>
			<string>张</string>
			<string>辽</string>
			<string>许</string>
			<string>褚</string>
			<string>曹</string>
			<string>仁</string>
			<string>典</string>
			<string>韦</string>
			<string>徐</string>
			<string>晃</string>
			<string>郃</string>
			<string>于</string>
			<string>禁</string>
			<string>邓</string>
			<string>艾</string>
			<string>钟</string>
			<string>会</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>杨修</string>
		<key>icon</key>
		<string>0116_杨修_1.jpg</string>
		<key>title</key>
		<string>东汉末年的文学家</string>
		<key>options</key>
		<array>
			<string>郭</string>
			<string>嘉</string>
			<string>王</string>
			<string>朗</string>
			<string>济</string>
			<string>荀</string>
			<string>彧</string>
			<string>攸</string>
			<string>贾</string>
			<string>诩</string>
			<string>杨</string>
			<string>修</string>
			<string>陈</string>
			<string>群</string>
			<string>钟</string>
			<string>繇</string>
			<string>程</string>
			<string>昱</string>
			<string>华</string>
			<string>歆</string>
			<string>蒋</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>庞德</string>
		<key>icon</key>
		<string>0028_庞德_1.jpg</string>
		<key>title</key>
		<string>字令明,谥曰壮侯。</string>
		<key>options</key>
		<array>
			<string>夏</string>
			<string>侯</string>
			<string>惇</string>
			<string>渊</string>
			<string>张</string>
			<string>辽</string>
			<string>许</string>
			<string>褚</string>
			<string>曹</string>
			<string>仁</string>
			<string>典</string>
			<string>韦</string>
			<string>徐</string>
			<string>晃</string>
			<string>郃</string>
			<string>于</string>
			<string>禁</string>
			<string>庞</string>
			<string>德</string>
			<string>钟</string>
			<string>会</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>蔡文姬</string>
		<key>icon</key>
		<string>0569_蔡文姬_1.jpg</string>
		<key>title</key>
		<string>是中国历史上著名的才女和文学家</string>
		<key>options</key>
		<array>
			<string>甄</string>
			<string>姬</string>
			<string>蔡</string>
			<string>文</string>
			<string>孙</string>
			<string>尚</string>
			<string>香</string>
			<string>大</string>
			<string>乔</string>
			<string>小</string>
			<string>貂</string>
			<string>蝉</string>
			<string>黄</string>
			<string>月</string>
			<string>英</string>
			<string>王</string>
			<string>异</string>
			<string>辛</string>
			<string>宪</string>
			<string>刘</string>
			<string>氏</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>贾诩</string>
		<key>icon</key>
		<string>0042_贾诩_1.jpg</string>
		<key>title</key>
		<string>官至魏国太尉,谥曰肃侯</string>
		<key>options</key>
		<array>
			<string>郭</string>
			<string>嘉</string>
			<string>王</string>
			<string>朗</string>
			<string>济</string>
			<string>荀</string>
			<string>彧</string>
			<string>攸</string>
			<string>贾</string>
			<string>诩</string>
			<string>杨</string>
			<string>修</string>
			<string>陈</string>
			<string>群</string>
			<string>钟</string>
			<string>繇</string>
			<string>程</string>
			<string>昱</string>
			<string>华</string>
			<string>歆</string>
			<string>蒋</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>曹洪</string>
		<key>icon</key>
		<string>0047_曹洪_1.jpg</string>
		<key>title</key>
		<string>字子廉,谥曰恭侯</string>
		<key>options</key>
		<array>
			<string>夏</string>
			<string>侯</string>
			<string>惇</string>
			<string>渊</string>
			<string>张</string>
			<string>辽</string>
			<string>许</string>
			<string>褚</string>
			<string>曹</string>
			<string>洪</string>
			<string>典</string>
			<string>韦</string>
			<string>徐</string>
			<string>晃</string>
			<string>郃</string>
			<string>于</string>
			<string>禁</string>
			<string>庞</string>
			<string>德</string>
			<string>钟</string>
			<string>会</string>
		</array>
	</dict>
</array>
</plist>
